<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WCGTagImgeEditor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DD0C14271EB1E1DA008E8A15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD0C14431EB1E1DB008E8A15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD0C144E1EB1E1DB008E8A15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
